<div class="width:100%; height: 300px; overflow-y:hidden">
<%= image_tag(@post.banner, style:'width:100%') %>
</div>
<div class="container" style="margin-top: 2em">
<div class="row">
<div class="jumbotron" style="width:100%">
<h1 class="display-4">
<%= link_to @post.title, root_path %>
</h1>
<p class="lead">
<%= @post.updated_at.strftime("%A, %B %e, %Y") %> by <%= @post.user.username %> | <%= pluralize(@post.views, "View") %>
</p>
<hr class="my-4/>
<div class="post_body">
<%= @post.body %>
<br />
<% if current_user && current_user.admin %> 
<div class="btn-group" role="group" style="margin-top: 2em" >
<ul>
<li class="nav-item active">
    <%= link_to "Edit", edit_post_path(@post), class: 'nav-link' %>
    </li>
    <li class="nav-item">
    <%= button_to "Delete", post_path(@post),
    method: :delete, class: 'nav-link' %>
</li>
</ul>
<% end %>
</div>
</div>
</div>

<div class="container">
<h2>Comments</h2>
<%= render @post.comments %>
</div>

<% if current_user%>
<%= render 'comments/form' %>
<% end %>